@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(var(--background));
}

.light {
  --background: 255, 250, 250;
  --foreground: 0, 0, 0;
  --tertiary: 241, 237, 237;
}

.dark {
  --background: 0, 0, 0;
  --foreground: 255, 250, 250;
  --tertiary: 37, 37, 37;
}

:root {
  --background: 255, 250, 250;
  --foreground: 0, 0, 0;
  --tertiary: 241, 237, 237;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 0, 0, 0;
    --foreground: 255, 250, 250;
    --tertiary: 37, 37, 37;
  }
}
